body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table {
    border: solid 3px black;
    border-collapse: collapse;
}
caption {
    margin: 5px;
    font-weight: bold;
    font-size: 18pt;
}
td,th {
    border-width: 1px;
    border: solid black;
    height: 50px;
    margin: 4px;
    text-align: center;
}
.column2, .column3 {
    width: 200px;
}
.column4, .column5 {
    width: 100px;
}
.row1 {
    background-color: lightgray;
}
.red {
    background-color: rgb(254, 63, 63);
}
.green {
    background-color: rgb(75, 214, 75);
}